<!DOCTYPE HTML PUBLIC "_//W3C/DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<style type="text/css">
		ul.errorlist{
			margin: 0;
			padding: 0;
		}
		.errorlist li {
			backgroud-color: red;
			color: white;
			display: block;
			font-size: 1.2em;
			margin: 0 0 3px;
			padding: 4px 5px;

		}
	</style>
</head>
<body>
	<h1>My test site</h1>
    <hr>
	{% block content %}{% endblock %}
	{% block footer %}
	<hr>
	<p>Thanks for visting my site.</p>
	{% endblock %}
</body>
</html>
